.svgc-citizen-list {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 1em;
  }

  figure {
    display: inline-block;
    text-align: center;
    width: 9ch;
    min-width: 9ch;

    img {
      margin: 0 auto;
    }
  }

  h4 {
    margin-bottom: 0.5em;
  }

  .gift img {
    display: inline-block;
  }

  .gifts {
    display: flex;

    .gift {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 20px;
      max-height: 9em;
      margin-right: 1em;
    }

    .gift-list {
      max-height: calc(100% - 2em);
      overflow-y: auto;
    }

    img {
      max-width: 1.5em;
      max-height: 1.5em;
      height: auto;
      margin-right: 0.5em;
    }
  }
}
